<!doctype html>
<html class="no-js" lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.name}} - {{page.title}}</title>
  <meta name="description" content="Guidelines de dévelopement front web.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css css/main.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="/css/lib/normalize.css">
  <link rel="stylesheet" href="/css/lib/h5bp.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Index</a></li>
        <li class="html"><a href="html.html">HTML</a></li>
        <li class="css"><a href="css.html">CSS</a></li>
        <li class="javascript"><a href="javascript.html">Javascript</a></li>
      </ul>
    </div>
  </div>

    {{content}}

  <!-- build:js js/main.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
</body>

</html>




