body {
  padding-top:70px;
}

.navbar-nav a:hover {
  color:#FFFFFF;
}
.navbar-nav .html:hover {
  background:#81B71A;
}
.navbar-nav .css:hover {
  background:#0088CC;
}
.navbar-nav .javascript:hover {
  background:#F9DE4E;
}

/* Page title */
h1 {
  font-size:54px;
  margin-bottom:40px;
  position:relative;
  padding-left:70px;
  height:60px;
  line-height:60px;
}
h1:before {
  content:" ";
  position:absolute;
  display:block;
  height:60px;
  width:60px;
  border-radius:30px;
  top:0;
  left:0;
}
.page-html h1:before {
  background:#81B71A;
}
.page-css h1:before {
  background:#0088CC;
}
.page-javascript h1:before {
  background:#F9DE4E;
}

/* Section title */
h2 {
  border-bottom:2px solid #EEEEEE;
  padding-bottom:5px;
  font-size:36px;
}
.page-css h2 {
  border-color:#0088CC;
}
.page-html h2 {
  border-color:#81B71A;
}
.page-javascript h2 {
  border-color:#F9DE4E;
}

/* Guideline title */
h3 {
  margin-left: 20px;
  font-size:20px;
}
h3 ~ p,
h3 ~ pre {
  margin-left:20px;
}
